<!DOCTYPE html>
<html ng-app="questApp">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link href="main.css" rel="stylesheet"/>

</head>
<body>
    <!--<div ng-controller="QuestionController">
        <h3>{{question.text}}</h3>
        <p>{{question.author}}</p>
        <p><i>{{question.date}}</i></p>
        <hr />
        <div ng-repeat="answer in question.answers | orderBy:sortparam" class="answer">
            <div class="rate">
                <a class="vote-up" ng-click="voteUp(answer)"></a>
                <span>{{answer.rate}}</span>
                <a class="vote-down" ng-click="voteDown(answer)"></>
            </div>
            <b>{{answer.text}}</b>
            <p>{{answer.author}}</p>
            <p><i>{{answer.date}}</i></p>
        </div>
    </div>
    -->
    <!--
    <div ng-controller="QuestionController">
        <select ng-model="answer.author">
            <option ng-repeat="answer in question.answers">{{answer.author}}</option>
        </select>
        <select>
            <option ng-repeat="selected_answer in question.answers | filter:answer">{{selected_answer.date}}</option>
        </select>
    </div>
    -->
    
    <div ng-controller="QuestionController">
    <div>
        <h3>{{question.text}}</h3>
        <p>{{question.author}} </p>
        <p>
            <i>{{question.date}}</i>
        </p>
    </div>
    <!--
    <select ng-model="answer.author">
        <option ng-repeat="answer in question.answers">{{answer.author}}</option>
    </select>
    <select ng-model="selected_answer.date">
        <option ng-repeat="selected_answer in question.answers | filter:answer">{{selected_answer.date}}</option>
    </select>

    <div class="quest">
        <h3>Ответы</h3>
    </div>
    <div>
        <div ng-repeat="a in question.answers | filter:answer | filter:selected_answer.date">
            <div>
                <a class="vote-up" ng-click="voteUp(a)"></a>
                <span class="rate">{{a.rate}}</span>
                <a class="vote-down" ng-click="voteDown(a)"></a>
            </div>
            <b>{{a.text | formatText}}</b>
            <p>{{a.author}}</p>
            <p>
                <i>{{a.date}}</i>
            </p>
        </div>
    </div>
    </div>
    

    <div ng-controller="AnswerController">
        <form name="answerForm">
            <fieldset>
                <p>
                    <label for="answerText">Текст ответа:</label>
                    <input id="answerText" ng-model="answer.text" required placeholder="Введите ответ:">
                </p>
                <p>
                    <label for="answerAuthor">Имя автора:</label>
                    <input id="answerAuthor" ng-model="answer.author" required placeholder="Введите имя автора">
                </p>
                <p>
                    <label for="answerDate">Дата ответа:</label>
                    <input id="answerDate" ng-model="answer.date" required ng-pattern="/\d\d/\d\d/\d\d\d\d/" placeholder="Введите дату:">
                </p>
                <p>
                    <label for="answerAge">Возраст:</label>
                    <input id="answerAge" ng-model="answer.age" required placeholder="Введите Ваш возраст:">
                </p>
            </fieldset>
            <button type="submit" ng-click="save(answer, answerForm)">Сохранить ответ</button>
        </form>
    </div>
        
    -->
    <div answer-list="question"></div>
</div>
    <script src="Scripts/angular.min.js"></script>
    <script src="Js/app.js"></script>
    <script src="Controllers/QuestionController.js"></script>
    <script src="Controllers/AnswerController.js"></script>
<script src="Js/filter.js"></script>
<script src="Js/DOM.js"></script>
<script src="Js/answerList.js"></script>
</body>
</html>